.history {
  margin: 0 auto;
  max-width: 60rem;

  &__header {
    padding: 1rem;
    text-align: center;
  }

  &__content {
    margin-top: 1rem;
  }
}

.transaction {
  margin-bottom: 0 !important;
  padding: 2rem 1.5rem;
  transition: all .2s;

  &__expense {
    border-bottom: 1px solid $c-red-200;

    &:hover {
      background-color: $c-red-200;
      border-radius: 3px;
      box-shadow: 0 2.5px 5px rgba($c-gray-600, .1);
    }
  }

  &__income {
    border-bottom: 1px solid $c-green-200;

    &:hover {
      background-color: $c-green-200;
      border-radius: 3px;
      box-shadow: 0 2.5px 5px rgba($c-gray-600, .1);
    }
  }

  &__header {
    text-align: left;

    p {
      font-size: 1.4rem;

      .amount {
        font-weight: 600;
        padding-right: 1rem;
      }
    }
    
    @include res(tabport) {
      margin-bottom: 1rem;
      text-align: center;
    }
  }

  &__content {
    
    &--tags {
      float: left;
      margin-left: -5rem;

      .tag {
        background-color: $c-gray-200;
        border-radius: 3px;
        display: inline;
        margin-right: 1rem;
        padding: .3rem .6rem;
      }

      @include res(tabport) {
        margin-left: 0;
      }
    }

    &--actions {
      float: right;
      font-size: 1.4rem;

      i {
        cursor: pointer;
        padding-left: .5rem;
      }

      .fa-trash-alt:hover {
        color: $c-red-600;
      }

      .fa-edit:hover {
        color: $c-blue-500;
      }
    }

    &--date {
      float: right;
      font-style: italic;
      padding-right: 1rem;
    }
  }
}