// colors
$c-bills: rgba(0, 255, 0, .85);
$c-food: rgba(245, 223, 95, .85);
$c-travel: rgba(218, 112, 214, .85);
$c-entertainment: rgba(255, 127, 80, .85);
$c-shopping: rgba(64, 224, 208, .85);
$c-education: rgba(255, 182, 193, .85);
$c-household: rgba(135, 206, 235, .85);
$c-sport: rgba(244, 164, 96, .85);
$c-other: rgba(255, 215, 0, .85);